body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

header{
    background-color: gray;
}

figure{
    background-color: navy;
}

p{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

ul a{
    color: green;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover{
    color:darkgoldenrod;
}

abbr:hover{
    color: darkgoldenrod;
}